body{
	background-color: #eee;
}
.chatsPopUp{
	background-color: white;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute;
	overflow: hidden;
}

/* Posicionamento */

.chatsPopUp.topLeft {
	left: 0px;
	top: 0px;
}

.chatsPopUp.topRight {
	right: 0px;
	top: 0px;
}


.chatsPopUp.bottomRight {
	right: 0px;
	bottom: 0px;
}

.chatsPopUp.bottomLeft {
	left: 0px;
	bottom: 0px;
}

.chatsPopUpUl {
	display: -webkit-flex; 
	display: flex; 
	padding: 0px;
	position: absolute;
	margin: 0px;
	top: 50%;
}


.chatsPopUpUl li{
 	width: 100%;
 	list-style: none;
 	text-align: center;
}

.chatsPopUpUl li i{
 	font-size: 100px;
}
